* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 960px;
  margin: 50px auto;
}

.main-list {
  width: 100%;
  margin-bottom: 50px;
}

.list-item {
  padding: 20px;
  list-style: none;
}

.list-item:nth-child(odd) {
  background-color: #eeeeee;
}

.main-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box-item {
  width: 30%;
  height: 200px;
  background-color: #ffdb00;
  margin: 0 5% 40px 0;
}

.box-item:nth-child(3), /* 3nで代用可 */
.box-item:nth-child(6),
.box-item:nth-child(9) {
  margin-right: 0;
}

.box-item:nth-child(7),
.box-item:nth-child(8),
.box-item:nth-child(9) {
  margin-bottom: 0;
}

.box-item:nth-child(1),
.box-item:nth-child(5),
.box-item:nth-child(9) {
  background-color: #ff8400;
}